packages:
  yum:
    gcc-c++: []
    libxml2-devel: []
    libxslt-devel: []
    python-devel: []

sources:
  /var/fleetmap: https://github.com/fleetmap-io/odoo-fleetmap-addons/archive/refs/heads/master.zip

container_commands:
  copy_addons:
    command: "cp -r /var/fleetmap/odoo-fleetmap-addons-master ./addons"
