packages:
  yum:
    gcc-c++: []
    libxml2-devel: []
    libxslt-devel: []
    python3-devel: []

sources:
  /var/fleetmap: https://github.com/fleetmap-io/odoo-fleetmap-addons/archive/refs/heads/master.zip
  /var/fieldservice: https://github.com/OCA/field-service/archive/refs/heads/13.0.zip
  /var/fleet: https://github.com/OCA/fleet/archive/refs/heads/13.0.zip
  /var/geospatial: https://github.com/OCA/geospatial/archive/refs/heads/13.0.zip

container_commands:
  config: 
    command: |
      echo MASTER_PASS=$MASTER_PASS
      echo "admin_passwd=$MASTER_PASS" >> ./odoo.conf

  addons:
    command: |
      chmod -R 777 /var/fleetmap /var/fieldservice /var/fleet /var/geospatial
      cp -r /var/geospatial/geospatial-13.0/* ./addons
      cp -r /var/fieldservice/field-service-13.0/* ./addons
      cp -r /var/fleet/fleet-13.0/* ./addons
