packages:
  yum:
    gcc-c++: []
    libxml2-devel: []
    libxslt-devel: []
    python-devel: []

sources:
  /var/fleetmap: https://github.com/fleetmap-io/odoo-fleetmap-addons/archive/refs/heads/master.zip

container_commands:
  00_mkdir:
    command: "mkdir /var/app/current/fleetmap"
    ignoreErrors: true
  01_copy_addons:
    command: "cp -r /var/fleetmap/odoo-fleetmap-addons-master/* /var/app/current/fleetmap"
